.p1 {
    font-family: "Comic Sans MS", "Comic Sans", cursive; 
}

body {
    /* font-family: "Times New Roman", Times, serif; */
    background-image: url('天下無双.png');
    background-size: 10%;
    font: normal 1em Times, serif;
    width: 80%;
    margin: 1em auto;
}

h1 {    
    color: rgb(85, 102, 68);
    margin: 1em 0 1em;
}

@media only screen and (max-width: 600px) {
.kanata {
    margin-bottom: -20px;
    width: 100%;
/*     max-height: 100%; */
    height: 100%;
}
}

img {
    margin: 0 0 0 20px
}

